@import url('https://fonts.googleapis.com/css?family=Eczar');

*{
    padding:0px;
    margin:0px;
    box-sizing:border-box;
}

html, body{
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    line-height:1.5;
    background-color: #BABCD6;
}

/* Header */

#holder{
    color:white;
    float: left;
    clear:both;
    padding: 0px 5px;
    text-decoration: none;
    font-size: 1.5em;
    font-family: 'Oswald', sans-serif;
}
/* Navigation Bar */
header nav{
    background: #6D6E7A;
    text-align:right;
    border-bottom: 2px solid white;
    padding: 10px 0;
}

header ul li{
    text-align: center;
    display:inline-block;
    padding: 0 10px;
}

/* Controls a bottom border transition animation 
*/ 

a, a:hover {
    color: #fff;
    text-decoration: none;
  }
  
 header li {
      display: inline-block;
      position: relative;
      padding-bottom: 3px;
      margin-right: 10px;
  }
  header li:last-child {
    margin-right: 0;
  }
  
  header li:after {
      content: '';
      display: block;
      margin: auto;
      height: 3px;
      width: 0px;
      background: transparent;
      transition: width .5s ease, background-color .5s ease;
  }
  header li:hover:after {
      width: 100%;
      background: #fff;
     
  }

  /* Drop Down Menu */
.dropdown{
    display:none;
}

  /* Body of Content */
  .main{
      background:#6D6E6A;;
      width:400px;
      height:175px;
      margin: 100px auto;
      position: relative;
      padding:30px    
    }

  .badge{
      width:96px;
      background:black;
      color:white;
      padding: 5px 10px;
      font-family:sans-serif;
      font-weight: bold;
      position: absolute;
      top:-15px;
      left:40%;
      text-align:center;
  }

  .clock{
      background-color:white;
      text-align:center;
      font-size:4.5em;;
      height:100%;
      padding-top:20px;
      font-family: 'Eczar', serif;
      border-radius: 4px;
  }

  /* Footer Section*/

  footer{
    color:white;
    background-color:#6D6E7A;
    padding:20px;
    border-top: 2px solid white; 
}


/* Media Queries */

/* These sets of queries handles the middle projects section */

@media(max-width: 1000px){
    p, nav ul li,
    article#main-col,
    aside#sidebar,
    footer
    {
        float:none;
        display:flex;
        flex-direction:column;
        width:100%;
        text-align:center;
        margin:0px;
        padding:0px;
        box-sizing:border-box;
    }

     /* Drop Down Menu Appears*/

     .main-menu{
        display:flex;
        justify-content: flex-start;
        flex-direction: row;

    }

    .dropdown{
        display:block;
        cursor:pointer;
        font-size:2em;
        color:white;
    }

    .dropdownmenu{
        display:none;
    }

    .headerPhoto{
        background-image: none;
   }

   #holder{
    font-size: 2.5em;
   }

   /* Flex boxes for projects */ 
   main section{
    width:100%;
    margin:0px;
    margin-bottom:5px ;
    padding: 5px;
  }
   /* Nav Bar */
    nav ul li{
        padding:5px;   
        text-align:center;
        font-size: 1.5em;
        margin-bottom: 10px;
    }
    header li:hover:after {
        width: 10%;
        background: #fff;
    }


    /*Footer*/
    footer{
        padding:10px;
    }
}